src/main/mule/uber-project-exp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5e7e9585-e5f3-493a-bb0f-d9d8c08ae584" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="uber-project-expFlow" doc:id="1a22e4a4-82f9-4d28-a1cf-702a6c8e01d2" >
		<http:listener doc:name="Listener" doc:id="879fb9fb-7da0-4df9-8120-3f6b7816ffb9" config-ref="HTTP_Listener_config" path="/uber"/>
		<set-payload value="#['Hello My Customers I am Coming']" doc:name="Set Payload" doc:id="3f90ff43-c811-495b-963a-2bb84a66a644" />
	</flow>
</mule>
